// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.navbar {

  a {
    color: #343a40;
}

  .navbar-brand {
      width: 11em;

      img {
          width: 10em;
          height: 4em;
      }
  } 

}

footer {

  height: 100px;
  a {
    color: white !important;
  }
  i.fab{
    font-size: 2rem;
  }
}

.btn, .form-control {
    border-radius: 0px !important;
}

